ion-content {
  --ion-background-color: rgb(163, 73, 73);
}

ion-list {
  border-radius: 15px;
}

ion-list-header {
  text-transform: uppercase;
}

ion-list {
  margin-top: 20px;
  --ion-background-color: rgb(219, 219, 219);
}

ion-item {
  cursor: pointer;
  --ion-background-color: rgb(243, 237, 237);
}

.home-img {
  margin-top: 15px;
  text-align: center;
}